{{- /* Generate ExternalSecrets from deployment secrets configuration */ -}}
{{- range $deploymentName, $deployment := .Values.deployments }}

{{- if $deployment.commonSecrets }}
{{- range $secretName, $secretConfig := $deployment.commonSecrets }}
---
apiVersion: kubernetes-client.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  backendType: gcpSecretsManager
  projectId: {{ $deployment.projectID }}
  data:
  {{- range $key, $value := $secretConfig }}
  {{- if kindIs "map" $value }}
  {{- range $innerKey, $innerValue := $value }}
  - key: {{ $secretName }}
    name: {{ $innerKey }}
  {{- end }}
  {{- else }}
  - key: {{ $secretName }}
    name: {{ $value }}
    version: latest
    property: {{ $value }}
  {{- end }}
  {{- end }}


{{- end }}
{{- end }}



{{- range $containerName, $container := $deployment.containers }}
{{- if $container.nodeSecrets }}
{{- range $secretName, $secretConfig := $container.nodeSecrets }}
---
apiVersion: kubernetes-client.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  backendType: gcpSecretsManager
  projectId: {{ $deployment.projectID }}
  data:
  {{- range $key, $value := $secretConfig }}
  {{- if kindIs "map" $value }}
  {{- range $innerKey, $innerValue := $value }}
  - key: {{ $secretName }}
    name: {{ $innerKey }}
  {{- end }}
  {{- else }}
  - key: {{ $secretName }}
    name: {{ $value }}
    version: latest
    property: {{ $value }}
  {{- end }}
  {{- end }}

{{- end }}
{{- end }}
{{- end }}

{{- end }}