{{- /* Generate ExternalSecrets from deployment secrets configuration */ -}}
{{- range $deploymentName, $deployment := .Values.deployments }}

{{- if $deployment.commonSecrets }}
{{- range $secretName, $secretConfig := $deployment.commonSecrets }}
---
apiVersion: kubernetes-client.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  backendType: gcpSecretsManager
  projectId: {{ $deployment.projectID }}
  data:
  {{- range $key, $value := $secretConfig }}
  {{- if kindIs "map" $value }}
  {{- range $innerKey, $innerValue := $value }}
  - key: {{ $secretName }}
    name: {{ $innerKey }}
  {{- end }}
  {{- else }}
  - key: {{ $secretName }}
    name: {{ $value }}
    version: latest
    property: {{ $value }}
  {{- end }}
  {{- end }}


{{- end }}
{{- end }}



{{- range $containerName, $container := $deployment.containers }}
{{- if $container.nodeSecrets }}
{{- range $secretName, $secretConfig := $container.nodeSecrets }}
---
apiVersion: kubernetes-client.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  backendType: gcpSecretsManager
  projectId: {{ $deployment.projectID }}
  data:
  {{- range $key, $value := $secretConfig }}
  {{- if kindIs "map" $value }}
  {{- range $innerKey, $innerValue := $value }}
  - key: {{ $secretName }}
    name: {{ $innerKey }}
  {{- end }}
  {{- else }}
  - key: {{ $secretName }}
    name: {{ $value }}
    version: latest
    property: {{ $value }}
  {{- end }}
  {{- end }}


{{- end }}
{{- end }}
{{- end }}



{{- range $containerName, $container := $deployment.containers }}
{{- if $container.nodeEnvSecrets }}
{{- range $secretName, $secretConfig := $container.nodeEnvSecrets }}


---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretConfig }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  refreshPolicy: OnChange
  refreshInterval: 168h # 7 days
  secretStoreRef:
    name: {{ $.Values.fullnameOverride }}-gsm-store
    kind: SecretStore
  target:
    name: {{ $secretConfig }} # k8s secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: {{ $secretConfig }}
        version: latest

{{- end }}
{{- end }}
{{- end }}


{{- range $containerName, $container := $deployment.containers }}
{{- if $container.nodeFileSecrets }}
{{- range $secretName, $secretConfig := $container.nodeFileSecrets }}
{{- range $secretKey, $secretValue := $secretConfig }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretKey }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  refreshPolicy: OnChange
  refreshInterval: 168h # 7 days
  secretStoreRef:
    name: {{ $.Values.fullnameOverride }}-gsm-store
    kind: SecretStore
  target:
    name: {{ $secretKey }} # k8s secret
    creationPolicy: Owner
  data:
    - secretKey: {{ $secretValue }}
      remoteRef:
        key: {{ $secretKey }}
        version: latest

{{- end }}
{{- end }}
{{- end }}
{{- end }}



{{- end }}