{{- /* Generate ExternalSecrets from deployment secrets configuration */ -}}
{{- range $deploymentName, $deployment := .Values.deployments }}

{{- range $containerName, $container := $deployment.containers }}
{{- if $container.nodeEnvSecrets }}
{{- range $secretName, $secretConfig := $container.nodeEnvSecrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretConfig }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  refreshPolicy: OnChange
  refreshInterval: 168h # 7 days
  secretStoreRef:
    name: {{ $.Values.fullnameOverride }}-gsm-store
    kind: SecretStore
  target:
    name: {{ $secretConfig }} # k8s secret
    creationPolicy: Owner
  dataFrom:
    - extract:
        key: {{ $secretConfig }}
        version: latest

{{- end }}
{{- end }}
{{- end }}


{{- range $containerName, $container := $deployment.containers }}
{{- if $container.nodeFileSecrets }}
{{- range $secretName, $secretConfig := $container.nodeFileSecrets }}
{{- range $secretKey, $secretValue := $secretConfig }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretKey }}
  namespace: {{ $deployment.namespace | default "default" }}
  labels:
    {{- include "universal-helm.labels" $ | nindent 4 }}
spec:
  refreshPolicy: OnChange
  refreshInterval: 168h # 7 days
  secretStoreRef:
    name: {{ $.Values.fullnameOverride }}-gsm-store
    kind: SecretStore
  target:
    name: {{ $secretKey }} # k8s secret
    creationPolicy: Owner
  data:
    - secretKey: {{ $secretValue }}
      remoteRef:
        key: {{ $secretKey }}
        version: latest

{{- end }}
{{- end }}
{{- end }}
{{- end }}


{{- end }}